@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap|Sofia");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');



/* css reset*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255, 0.7);
}

body{
    background-color: #1d2a35;
}


.icon path {
  fill:#22d3ee;
  stroke: none;
  stroke-width: 0;
@apply transition-all duration-300 ease-linear;
}

.icon{
    font-size: 1.5rem;
}

.icon path:hover{
    fill:#a5f3fc;
}

.label{
    @apply pb-4 pt-2 font-bold text-center;

}

.icon-container button:first-child{
    margin-right: 2rem

}

.taskName-container{
    @apply flex justify-between items-center;

}

.task:not(:last-child){
    @apply pb-4 border-b-2 border-slate-500;
}

/*==== form styles ====*/

.create-task-form{
    @apply flex flex-col gap-y-3 mx-auto ;
    @apply w-11/12 xsm:w-9/12 md:w-6/12 lg:w-5/12;
}

.task-item{
    @apply bg-cyan-900  mx-auto mt-4 shadow shadow-cyan-50 p-2;
    @apply w-11/12 xsm:w-9/12 md:w-6/12 lg:w-5/12;
    
}

.btn{
    @apply text-white bg-cyan-600 font-bold hover:bg-cyan-700 p-1 rounded-sm transition duration-300 ease-linear
}

.btn-clear{
    @apply mt-3 mx-auto block w-full ;
}